seance_2/cd/cd.dtd

<!ELEMENT CDs (CD)>
<!ELEMENT CD (Titre, Interprete, Genre, Piste+, Pochette)>
<!ELEMENT Piste (Titre, Compositeur+, Duree)>
<!ELEMENT Titre (#PCDATA)>
<!ELEMENT Interprete (#PCDATA)>
<!ELEMENT Genre (#PCDATA)>
<!ELEMENT Compositeur (#PCDATA)>
<!ELEMENT Duree (#PCDATA)>
<!ELEMENT Pochette (Urlface, Urldos?)>
<!ELEMENT Urlface (#PCDATA)>
<!ELEMENT Urldos (#PCDATA)>
<!ELEMENT site (#PCDATA)>