Projets/Projet_1/meteo.dtd

<!-- Root element - Previsons -->
<!ELEMENT Previsions (Jour+)>
<!-- Jour Element -->
<!ELEMENT Jour (Temperature, Pluie, Vent, Humidite, Pression)>
<!ATTLIST Jour ID ID #REQUIRED>
<!ATTLIST Jour Timestamp CDATA #REQUIRED>
<!-- Elements for the hour -->
<!ELEMENT Temperature (#PCDATA)>
<!ELEMENT Pluie (#PCDATA)>
<!ELEMENT Vent (Vitesse, Rafales)>
<!ELEMENT Vitesse (#PCDATA)>
<!ELEMENT Rafales (#PCDATA)>
<!ELEMENT Humidite (#PCDATA)>
<!ELEMENT Pression (#PCDATA)>